<link href="css/blog.css" rel="stylesheet">

<script type="text/javascript">
$(function(){
  var posts = $.ajax('/posts');
  posts.done(function(obj) {
    obj.forEach(function(o) {
      var html = ("<p class='tiny-text'><em>"+ o.title +"</em></p>" + "<p class='tiny-text'>"+ o.body +"</p>")
      $('#posts').append(html)
    });
  });
})
</script>

<section id="blog" class="content-section text-center">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Blog</h2>
      <p>Coming soon: my thoughts on everything</p>
      <section id="posts"></section>
    </div>
  </div>
</section>



<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />