

<script type="text/javascript">
$(function(){
  var posts = $.ajax('/posts');
  posts.done(function(obj) {
    obj.forEach(function(o) {
      var html = ("<p class='title tiny-text'><em>"+ o.title +"</em></p>" + "<p class='tiny-text'>"+ o.body +"</p>")
      $('#posts').append(html)
    });
  });
})
</script>

<section id="blog" class="content-section text-center">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Blog</h1>
      <h5>My thoughts on things</h5>
      <section id="posts"></section>
    </div>
  </div>
</section>




