<!-- Landing -->
<header id="landing" class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">J-GibWeb</h1>
          <!-- <p class="intro-text">This is my blog or something.</p> -->
          <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-hand-o-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Me -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h2>Hi I'm James <img src="images/my_face.jpg" width="100" class="img-circle"></h2>
      <p>I love to make internet things with JavaScript, Ruby, HTML and CSS</p>
      <p>I love to make audible things with drums, guitars, singers, compressors and reverbs.</p>
      <p>
        Email me: <a class="magnify" href="mailto:j.gibweb@gmail.com">j.gibweb@gmail.com</a>
      </p>
       <ul class="list-inline banner-social-buttons">
          <li>
              <a href="https://github.com/j-gibweb" class="btn btn-default btn-lg magnify"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="http://soundcloud.com/dearmistermanager/" class="btn btn-default btn-lg magnify"><i class="fa fa-soundcloud fa-fw"></i> <span class="network-name">SoundCloud</span></a>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/james-weber/43/167/101/" class="btn btn-default btn-lg magnify"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
          </li>
      </ul>
    </div>
  </div>
</section>


<!-- Blog -->


<script type="text/javascript">
$(function(){
  var passport = <%- JSON.stringify(passport)%>

  if (passport.user) { 
    var button = "<a href='/posts/new/' class='btn btn-default'>NEW POST</a>"
    $('#posts').prepend(button);
  }

  var posts = $.ajax('/posts');
  posts.done(function(obj) {
    obj.forEach(function(o) {
      var html = (
                  "<section><h5 class='title tiny-text'>" + o.title + "</h5>" 
                  + "<p class='title tiny-text'><a href='/posts/"+ o.pretty_url +"'>"+ o._id +"</a>" + " - "+ o.body.split(' ').length +" words</p>" 
                  );
      if (passport.user) { 
        html += "<a href='/posts/edit/"+ o._id +"' class='btn btn-default'>EDIT</a>&nbsp;";
        html += "<a href='#' data-id='"+ o._id +"' class='deletePost btn btn-default'>DELETE</a>";
      }
      
      // make date time logic, not be in the view.
      var dateObj = new Date(o.created_at);
      var formattedDate = dateObj.getMonth() +'/'+ dateObj.getDate() +'/'+ dateObj.getFullYear();
      var semanticDate = dateObj.getFullYear() +'-'+ dateObj.getMonth() +'-'+ dateObj.getDate();

      html += " <span class='post-date'> published:  <time datetime="+ semanticDate +">"+ formattedDate + "</time></span><hr></section>" ;
      $('#posts').append(html);
      
    });

    $('.deletePost').on('click', function(event) {
      event.preventDefault();
      var id = $(this).data('id');
      var button = $(this);
    
      $.ajax({
        type: 'DELETE',
        url: 'posts/'+id,
      }).done(function() {
        button.closest('div').fadeOut();
      });
    });
  });
});
</script>

<section id="blog" class="content-section text-center">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Blog</h1>
      <h5>My thoughts on things</h5> 
      <section id="posts">
        <hr>
      </section>
    </div>
  </div>
</section>


<!-- footer -->
<footer>
  <div class="container text-center">
    <p class="tiny-text">gibweb.io</p>
  </div>
</footer>