<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">J-GibWeb</h1>
                    <!-- <p class="intro-text">This is my blog or something.</p> -->
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-hand-o-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>