<!DOCTYPE html>
<html lang="en">

<% include head.ejs %>

<% include nav_bar.ejs %>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <% include index.ejs %>



  <!-- footer -->
  <footer>
      <div class="container text-center">
          <p class="tiny-text">gibweb.io</p>
      </div>
  </footer>

  
</body>
</html>