
<% include head.ejs %>

<% include simple_nav.ejs %>


<script type="text/javascript">
  $(function(){
    var post = <%- JSON.stringify(post) %>;
    console.log( post.pretty_url)

    var body = "<p class='tiny-text'>"+ post.body.replace(/&lt;img/g, '<img').replace(/&gt;/g,'>') + "</p>";
    // var imageRegex = /&lt;[^<>]*&gt;/g
    // var images = body.match(imageRegex);    
    // images.forEach(function(e) {
    //   var img = e.replace(/&lt;/, '<').replace(/&gt;/,'>')
    //   console.log(img)
    //   body = body.replace(img, '')
    //   $('#posts').append( $(img) );
    // })
    // body = body.replace(img, '')
    // body = body
    $('#posts').append(body);
  })
</script>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <section id="blog" class="content-section text-center">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h1><%= post.title %></h1>
        <section id="posts">
        </section>
      </div>
    </div>
  </section>
</body>