
<% include head.ejs %>

<% include simple_nav.ejs %>


<script type="text/javascript">
  $(function(){
    var body = "<p class='tiny-text'>"+ <%- JSON.stringify(post.body) %> + "</p>";
    $('#posts').html(body);
  })
</script>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <section id="blog" class="content-section text-center">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h1><%= post.title %></h1>
        <section id="posts">
        </section>
      </div>
    </div>
  </section>


</body>