.tiny-text {
  font-size: 20px;
  /*font-family: monospace;*/
  font-family: Andale Mono, monospace;
}

.hidden{
  display: none;
}

#posts{
  text-align: left;
}
 
#posts .title{
 text-align: center; 
}