<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <form role="form" style="margin-top:100px;" action="/login" method="POST">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" name="username" required autofocus />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" name="password" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Log In</button>
        </div>
    </form>
    </div>
  </div>
</div>