
<% include head.ejs %>

<% include simple_nav.ejs %>

<link rel="stylesheet" href="/bower_components/highlight/lib/vendor/highlight.js/styles/zenburn.css">
<script src="/bower_components/highlight/lib/vendor/highlight.js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script type="text/javascript">
  $(function(){
    var post = <%- JSON.stringify(post) %>;

    var temp = post.body
                   .replace(/&lt;img/g, '<img')
                   .replace(/&gt;/g,'>');

    var body = "<article><p class='tiny-text'>" + temp + "</p></article>";
    
    $('#posts').append(body);

    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>

<body>
  <section id="blog" class="content-section text-center">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h1><%= post.title %></h1>
        <section id="posts">
        </section>
      </div>
    </div>
  </section>
</body>