
<section ng-repeat="post in posts">
  <hr>
  <h5 class='title tiny-text'>{{post.title}}</h5>
  <p class='title tiny-text'>
    <a ng-href='#/posts/{{post.pretty_url}}'>{{post._id}}</a>
    <!-- <a ng-click='show(post.pretty_url)'>{{post._id}}</a> -->
    - {{post.body.split(' ').length}} words
    <a ng-href='/posts/edit/{{post._id}}' class='btn btn-default'>EDIT</a>
    <a ng-href='#' data-id='{{post._id}}' class='deletePost btn btn-default'>DELETE</a>
  </p>
  <span>published: <time>{{ post.created_at | date }}</time></span>
</section>

