<link rel="stylesheet" href="/bower_components/highlight/lib/vendor/highlight.js/styles/zenburn.css">
<script src="/bower_components/highlight/lib/vendor/highlight.js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script type="text/javascript">
  $(function(){
    // var temp = post.body.replace(/&lt;img/g, '<img').replace(/&gt;/g,'>');

    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>



<div class="container">
  <div class="col-lg-8 ">
    <h1>{{ post.title }}</h1>
    <section>
      <article><p class='tiny-text'> {{ post.body }} </p></article>
    </section>
  </div>
</div>

